################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/c# projects/Paint/.vs/Paint/FileContentIndex/e4c99159-f860-4df4-9fa5-3979c0cc25d7.vsidx
/c# projects/Paint/.vs/Paint/FileContentIndex/b27dab7d-9457-4b44-a277-a950799c925a.vsidx
/c# projects/Paint/.vs/Paint/FileContentIndex/74c076de-5b9e-49aa-a59e-c020262f9254.vsidx
/c# projects/Paint/.vs/Paint/FileContentIndex/433b0923-07db-4e50-b571-c9083f951385.vsidx
/c# projects/OOPproject/VisualStudio.gitignore
/c# projects/.vs/OOPproject/FileContentIndex/eb22de71-017e-4e61-b280-1312af600d57.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/d30242e5-661a-4b4e-95ad-0e99723853f3.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/938efa29-6e1b-4f48-ad82-1803cb31a674.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/0d81c44a-f158-4ad7-b45c-4411445f02f5.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/b94f60f0-dfd3-4aaa-90bd-daad972a2655.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/42a6c1a4-41f1-4843-91a9-27784e6e593c.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/32ae5e51-14ba-4d2f-b795-ee1383211587.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/2e675d4f-ae2c-4e5f-a886-cacc27e25125.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/2e03a93c-5b16-461e-b1a1-0b203f756a55.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/e5aaf19b-4918-43f8-b309-6e99f2d9fb9c.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/cf821fb5-04a7-4b68-a435-61c6cc722c32.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/b2a66356-3cff-4527-81c6-3aded59c2adf.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/50663a84-49a2-4a74-b69c-b67eea022aa2.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/db082d3b-9cc2-4c0b-884c-3080b3b5c330.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/d8742b7a-9302-4e91-be70-4448e015f444.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/671d6d8a-cf59-4836-97e3-8f4f2b574e47.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/2c8e3991-91ae-4b3f-ba39-0e761c441e49.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/dfdc41d6-c0cf-406a-b3df-03c8bdbf62cd.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/b003ab42-da0a-4caa-a065-3f35f7719e1b.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/ab11ab4e-141b-4bc5-98d4-3c53f63d7bc9.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/76ac3578-a91d-4b61-967e-c551c0414cba.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/37fe11a4-cda9-4b3a-80cf-d04ab5f77c54.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/dc4e7ef7-709e-49c1-bd46-dc73da6e0ca7.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/863f0824-73ea-4ad1-b9d1-f3cc48044b29.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/432c3c6c-f2d8-4025-bdd3-ccbf6e3e32d2.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/35500ce1-43a0-497d-bfb9-1dd50c854e96.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/be07004e-41fb-484d-86c7-9312434fcac3.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/7f3f8fda-3060-4901-80ab-911c6d15cf9a.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/5eab08fa-b542-49b6-a352-f35560ef1cba.vsidx
/c# projects/.vs/OOPproject/FileContentIndex/5a68305d-42a3-451d-906e-3f3cd407ea31.vsidx
/c# projects/OOPproject/bin133067066093926870_log
/c# projects/OOPproject/bin133067069005080849_log
*.log
