################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/c# projects/Paint/.vs/Paint/FileContentIndex/e4c99159-f860-4df4-9fa5-3979c0cc25d7.vsidx
